LIBRARY_MANAGEMENT_API_SYSTEM_LOG_LEVEL=debug

LIBRARY_MANAGEMENT_API_DB_HOST=test
LIBRARY_MANAGEMENT_API_DB_PORT=test
LIBRARY_MANAGEMENT_API_DB_USERNAME=test
LIBRARY_MANAGEMENT_API_DB_PASSWORD=test
LIBRARY_MANAGEMENT_API_DB_DATABASE=test
LIBRARY_MANAGEMENT_API_AUTH_SECRET_KEY=your-secret-key-here
LIBRARY_MANAGEMENT_API_AUTH_ALGORITHM=HS256
LIBRARY_MANAGEMENT_API_AUTH_ACCESS_TOKEN_EXPIRE_MINUTES=30
